<div class="container-fluid"  ng-controller="interview">
    <div class="row-fluid">
    	<div class="span12">

			<div class="widget-box">
				<div class="widget-title bg_ly"><span class="icon"><i class="icon-chevron-down"></i></span>
				<h5>Interview</h5>
			</div>
				<div class="widget-content interview">
					<form class="form-horizontal"  ng-init="$_edit=!interview.comment">
						
						<div class="control-group">
							<label class="control-label">Name</label>
							<div class="controls">
								<a  class="control-text" href="{{interview.applicant.resumeUrl}}" target="_blank">{{interview.applicant.name}}</a>

							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Interviewer</label>
							<div class="controls">
								<span class="control-text">{{interview.interviewer.profile.name}}</span>
								
								<span class="label label-success">{{interview.emailTime&&"emailed"}}</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Time</label>
							<div class="controls">
								<span  class="control-text">{{interview.time}}</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Score</label>
							<div class="controls">
								<label class="radio inline">
									<input ng-disabled="!$_edit" type="radio" ng-model="interview.score" value="-2"> 强烈反对
								</label>
								<label class="radio inline">
									<input ng-disabled="!$_edit" type="radio" ng-model="interview.score" value="-1"> 反对
								</label>
								<label class="radio inline">
									<input ng-disabled="!$_edit" type="radio" ng-model="interview.score" value="0">观望
								</label>
								<label class="radio inline">
									<input ng-disabled="!$_edit" type="radio" ng-model="interview.score" value="1"> 推荐
								</label>
								<label class="radio inline">
									<input ng-disabled="!$_edit" type="radio" ng-model="interview.score" value="2"> 强烈推荐
								</label>
								
							</div>
						</div>		
						<div class="control-group">
							<label class="control-label">Comment</label>
							<div class="controls">
								<textarea ng-model="interview.comment" ng-disabled="!$_edit" class="span12"></textarea>
							</div>
						</div>				
						<div class="form-actions">
							<a class="btn btn-success" ng-show="$_edit" ng-click="updateInterview();$_edit=false">update</a>
							<a class="btn btn-info" ng-show="!$_edit" ng-click="$_edit=true">edit</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>